Service References/MainUpdateSource/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainUpdateSourceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMainUpdateSourceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MainFileUploadRequest">
    <wsdl:part name="parameters" element="tns:MainFileUploadRequest" />
  </wsdl:message>
  <wsdl:message name="MainFileUploadRequest_Headers">
    <wsdl:part name="Checksum" element="tns:Checksum" />
    <wsdl:part name="Name" element="tns:Name" />
    <wsdl:part name="SecurityKey" element="tns:SecurityKey" />
    <wsdl:part name="VirtualPath" element="tns:VirtualPath" />
  </wsdl:message>
  <wsdl:message name="MessageResult">
    <wsdl:part name="parameters" element="tns:MessageResult" />
  </wsdl:message>
  <wsdl:message name="MessageResult_Headers">
    <wsdl:part name="Message" element="tns:Message" />
    <wsdl:part name="Status" element="tns:Status" />
  </wsdl:message>
  <wsdl:message name="IMainUpdateSourceService_TransferToClientAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferToClientAgent" />
  </wsdl:message>
  <wsdl:message name="IMainUpdateSourceService_TransferToClientAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferToClientAgentResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainUpdateSourceService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainUpdateSourceService/UploadFile" name="MainFileUploadRequest" message="tns:MainFileUploadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainUpdateSourceService/UploadFileResponse" name="MessageResult" message="tns:MessageResult" />
    </wsdl:operation>
    <wsdl:operation name="TransferToClientAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainUpdateSourceService/TransferToClientAgent" message="tns:IMainUpdateSourceService_TransferToClientAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainUpdateSourceService/TransferToClientAgentResponse" message="tns:IMainUpdateSourceService_TransferToClientAgent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainUpdateSourceService" type="tns:IMainUpdateSourceService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMainUpdateSourceService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IMainUpdateSourceService/UploadFile" style="document" />
      <wsdl:input name="MainFileUploadRequest">
        <soap:header message="tns:MainFileUploadRequest_Headers" part="Checksum" use="literal" />
        <soap:header message="tns:MainFileUploadRequest_Headers" part="Name" use="literal" />
        <soap:header message="tns:MainFileUploadRequest_Headers" part="SecurityKey" use="literal" />
        <soap:header message="tns:MainFileUploadRequest_Headers" part="VirtualPath" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MessageResult">
        <soap:header message="tns:MessageResult_Headers" part="Message" use="literal" />
        <soap:header message="tns:MessageResult_Headers" part="Status" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferToClientAgent">
      <soap:operation soapAction="http://tempuri.org/IMainUpdateSourceService/TransferToClientAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainUpdateSourceService">
    <wsdl:port name="BasicHttpBinding_IMainUpdateSourceService" binding="tns:BasicHttpBinding_IMainUpdateSourceService">
      <soap:address location="http://localhost:9003/MainUpdateSource" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>